* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
   }

/*body {
    background: rgb(177,18,37);
    background: linear-gradient(0deg, rgba(177,18,37,1) 25%, rgba(129,0,32,1) 71%);
} */

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: rgb(177,18,37);
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    /*background-color: #9e477b;*/
    background-image: url(img/banner_4.jpg);
    background-size: cover;
}

.header {
    background-color: #f6f6f6;
    display: flex;
    justify-content: space-between;  
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    min-height: 40px;
    padding: 20px;
    gap: 8px 15px;
    margin-bottom: 50px;
}

.logo-avemaria {
    height: 60px;
}

.header-container {
    display: flex;
    gap: 15px;
    padding-right: 20px;
}

.section-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.wine-title {
    margin-bottom: 10px;
}

.wine-title {
    text-align: center;
    padding: 10px 0px 30px 0px;
    font-size: 40px;
}

.img {
    height: 500px;
    width: 200px;
    transition: 0.5s all ease-in-out;
}

#cas-mer {
    height: 500px;
    width: 183px;
}

#cas-cha {
    height: 500px;
    width: 210px;
}

#cas-sau {
    height: 500px;
    width: 205px;
}

#cas-tan {
    height: 500px;
    width: 185px;
}

#res-mal {
    height: 499px;
    width: 150px;
}

#esp-bra{
    height: 500px;
    width: 221px;
}

#esp-ros{
    height: 500px;
    width: 221px;
}

/*.img:hover {
    transform: scale(1.5);
}*/

.img-card {
    background-color: white;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.315);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 225px;
    
}

.btn-description {
    cursor: pointer;
    margin: 10px 10px;  
    appearance: none;
    background-color: #FAFBFC;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: #24292E;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 6px 16px;
    position: relative;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;
}
.btn-description:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.btn-description:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.btn-description:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.btn-description:focus {
  outline: 1px transparent;
}

.btn-description:before {
  display: none;
}

.btn-description:-webkit-details-marker {
  display: none;
}  


.merlot-button {
    background-image: url(img/castas/MERLOT.jpg);
    background-size: cover;
    border: none;
}

.castas-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    margin-bottom: 120px;  
}

.reservas-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    margin-bottom: 120px;  
    
}

.espumantes-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.footer {
    width: 100%;
    min-height: 40px;
    background-color: #292929;  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.swal-overlay {
    background-color:rgb(177,18,37,0.45);
  }

.swal-text {
    font-family: 'Roboto', sans-serif;
    margin: 22px;
    color: #171717;
  }

@media (max-width: 768px) {
    .header {
        justify-content: center;
    }   
    .container {
        background-image: url(img/banner_4_medium_vertical.jpg);
        background-size: auto;
    }
}  

@media (max-width: 530px) {

    .img-card {
        height: 570px;
        width: 200px; 
    }

    #cas-mer {
        height: 405px;
        width: 148px;
    }
    
    #cas-cha {
        height: 405px;
        width: 171px;
    }
    
    #cas-sau {
        height: 405px;
        width: 169px;
    }
    
    #cas-tan {
        height: 405px;
        width: 152px;
    }
    
    #res-fra {
        height: 464px;
        width: 180px;  
    }

    #res-mar {
        height: 464px;
        width: 180px;  
    }

    #res-mal {
        height: 464px;
        width: 200px;
    }
    
    #esp-bra{
        height: 455px;
        width: 200px;
    }
    
    #esp-ros{
        height: 455px;
        width: 200px;
    }       
}

@media (max-width: 472px) {
    .castas-container, .reservas-container, .espumantes-container {
        padding-left: 5px;
        padding-right: 5px; 
    }  

    .img-card {
        height: 511px;
        width: 165px; 
    }

    .img-card-name {
        font-size: 18px;
    }

    #cas-cha {
        height: 401px;
        width: 165px;
    }

    #cas-sau {
        height: 404px;
        width: 165px;
    }

    #res-fra {
        height: 418px;
        width: 165px;  
    }

    #res-mar {
        height: 418px;
        width: 165px;  
    }

    #res-mal {
        height: 418px;
        width: 165px;
    }

    #esp-bra{
        height: 410px;
        width: 165px;
    }
    
    #esp-ros{
        height: 410px;
        width: 165px;
    }  

    .logo-avemaria {
        height: 48px;
    }  

    .footer-anchor {
        font-size: 16px;
    }

    .wine-title {
        font-size: 34px;
    }
} 

@media (max-width: 390px) { 

    .img-card {
        height: 427px;
        width: 137px; 
    }

    .img-card-name {
        font-size: 17px;
    }

    #cas-mer {
        height: 354px;
        width: 121px;
    }

    #cas-cha {
        height: 498px;
        width: 135px;
    }

    #cas-sau {
        height: 415px;
        width: 135px;
    }

    #cas-tan {
        height: 362px;
        width: 121px;
    }

    #res-fra {
        height: 418px;
        width: 135px;  
    }

    #res-mar {
        height: 352px;
        width: 135px;  
    }

    #res-mal {
        height: 418px;
        width: 135px;
    }

    #esp-bra{
        height: 410px;
        width: 135px;
    }
    
    #esp-ros{
        height: 410px;
        width: 135px;
    }  

    .logo-avemaria {
        height: 48px;
    }  

    .footer-anchor {
        font-size: 16px;
    }

    .wine-title {
        font-size: 34px;
    }
}

/* @media (max-width: 379px) {

} */

@media (max-width: 290px) {
    .container {
        width: 290px;
    }    
} 
